<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256082231393-sq1up51so7ni63b9anctbchs6i2o0itn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256082231393-sq1up51so7ni63b9anctbchs6i2o0itn</string>
	<key>API_KEY</key>
	<string>AIzaSyDSrCn77V7qNtFZ0S4670wD9hpMkXw0HvY</string>
	<key>GCM_SENDER_ID</key>
	<string>256082231393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbrtimecrud</string>
	<key>PROJECT_ID</key>
	<string>fbrtimecrud</string>
	<key>STORAGE_BUCKET</key>
	<string>fbrtimecrud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256082231393:ios:97b3f7b7fcea544122ea20</string>
	<key>DATABASE_URL</key>
	<string>https://fbrtimecrud.firebaseio.com</string>
</dict>
</plist>